.rodape{
    display: inline-block;
    margin: 0.8% 45%;
    height: 20px;
}

i{
    font-size: 60px;
    color: rgb(60, 255, 0);
    text-shadow: rgba(0, 0, 0, 0.432) 50px 10px 2ch;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(221, 248, 221);
}