
/*fundo da tela*/
body {
    background-image: radial-gradient(rgba(238, 241, 241, 0.281), rgba(236, 241, 241),
    rgba(238, 241, 241, 0.281), rgba(236, 241, 241, 0.822), rgba(238, 241, 241, 0.522),
    rgba(236, 241, 241, 0.822),rgba(238, 241, 241, 0.281), rgba(236, 241, 241, 0.822), 
    rgba(238, 241, 241, 0.281), rgba(236, 241, 241), rgba(238, 241, 241, 0.522));
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/*cabecalho*/
nav {
    opacity: 0.6;
    border:rgba(40, 3, 247, 0.74) groove 3px;
    height: 60px;
}

/*titulo pagina*/
h1 {
    margin: 10px 0 10px 45%;
}

/*btn add tarefa*/
.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    margin-left: 80px;
    padding: 8px;
    border-radius: 7px;
    margin-right: 5px;
}

.add-div:hover {
    background-color: #3477e291;
    text-shadow: #3477e291 -6px 8px 2px;
    transform: translateX(-5px);
    color: #00fd2afd;
    font-size: 15px;
    font-family:monospace;
    transition: ease-in-out 1s;
    border-radius: 70px;
}

.add-task {
    text-decoration: none;
}

.fas.fa-plus {
    color: #00ff40;
    margin-right: 2px;
    margin-left: 5px;
}

/*search*/
.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.fas.fa-search:hover {
    background-color: aquamarine;
    font-size: 18px;
    transition: 1s ease;
}

/* lista de tarefas */
.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 10px 20px;
    margin-left: 90px;
    margin-top: 5px;
    width: 100%;
    border: 2px groove rgba(48, 2, 255, 0.541);
    border-radius: 10px;
    background: repeating-radial-gradient( rgba(65, 3, 211, 0.767) 50%, rgba(3, 219, 247, 0.507) 50%);
}

.fas.fa-edit,  .fas.fa-trash {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-edit:hover,  .fas.fa-trash:hover {
    transform: translateY(-5px);
    box-shadow: 4px 9px rgba(134, 133, 133, 0.438);
    transition: step-start 0.4s;
}

.fas.fa-trash {
    color: #db1647;
}

.fas.fa-edit {
    color: #13c43f;
}

/*excluir tarefa*/
ul.messages {
    padding: 0 0 0 90px;
}

ul.messages li {
    list-style: none;
}

/*paginação entre tarefas*/
.paginator {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: 53%;
    top: -8px;
    margin-right: auto;
    background-color: rgba(194, 216, 235, 0.432);
}

.current .step-links {
    margin-left: 10px;
    margin-right: 10px;

}

.fas.fa-arrow-right, .fas.fa-arrow-left {
    font-size: 15px;
    color: #457dd8;
    margin: auto 5px;
}


/*animacao setas paginacao*/
.fas.fa-arrow-left:hover {
    animation: setaes 1.5s infinite;
}

@keyframes setaes{
    from {
        transform: translateX(-4px);
        
        font-size: 18px;
        color: #005ff8;
        transition: ease;
    }

    20% {
        transform: translateX(4px);
        font-size: 14px;
        color: #457dd8ab;
        transition: ease;
    }

    40% {
        transform: translateX(-4px);
        font-size: 18px;
        color: #005ff8;
        transition: ease; 
    }

    60% {
        transform: translateX(4px);     
        font-size: 14px;
        color: #457dd8ab;
        transition: ease;
    }

    to {
        transform: translateX(-4px);
        font-size: 18px;
        color: #005ff8;
        transition: ease;
    }
}

.fas.fa-arrow-right:hover {
    animation: setadir 1.5s infinite;
}

@keyframes setadir{
    from {
        transform: translateX(4px);
        font-size: 18px;
        color: #005ff8;
        transition: ease;
    }

    20% {
        transform: translateX(-4px);
        font-size: 14px;
        color: #457dd8ab;
        transition: ease;
    }

    40% {
        transform: translateX(4px);
        font-size: 18px;
        color: #005ff8;
        transition: ease; 
    }

    60% {
        transform: translateX(-4px);
        font-size: 14px;
        color: #457dd8ab;
        transition: ease;
    }

    to {
        transform: translateX(4px);
        font-size: 18px;
        color: #005ff8;
        transition: ease; 
    }
}

/* rodape e icone */
.rodape {
    display: inline-block;
    margin: 0.5% 50%;
    height: 20px;
    opacity: 0.5;
}

.far.fa-laugh-wink {
    font-size: 50px;
    color: rgb(136, 255, 0);
    text-shadow: rgba(0, 0, 0, 0.432) 39px 11px 4px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
}

/*login*/

.auth-card {
    margin-top: 12%;
    padding: 25px;
    background-color: #3477e26b;
    border-radius: 10%;
    border: rgba(3, 219, 247, 0.507) groove 10px;
}

.txt-login {
    margin-bottom: 30px;
}

.btn-login {
    margin-top: 40px;
}
