{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="offset_1 col-10 list-div">
        <h1>Lista de tarefas</h1>
        <div class="col-2 add-div div-top">
            <i class="fas fa-plus"></i> <span>Adicionar tarefa</span>  
        </div>
        <div class="col-9 search-div div-top div-search">          
            <input type="text" id="search" placeholder="Procurar tarefa">
            <i class="fas fa-search"></i>           
        </div>
        <ul class="track-list">
            <li class="track-item">
                <span>Título da Tarefa</span>
                <span><i class="fas fa-trash"></i></span>
                <span><i class="fas fa-edit"></i></span>
            </li>
        </ul>
    </div>
{% endblock %}