{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="offset_1 col-10 list-div">
        <h1>Lista de tarefas</h1>
        <a id="add-task" href="newtask/">
           <div class="col-2 add-div">
                <i class="fas fa-plus"></i> Adicionar tarefa  
            </div> 
        </a>
        <div class="col-9 search-div">          
            <input class="form-control" type="text" id="search" placeholder="Procurar tarefa" autocomplete="off">
            <i class="fas fa-search"></i>           
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="alert alert-success"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-item">
                <span><a href="/tasks/{{task.id}}">{{task.title}}</a></span>
                <span><a href="/delete/{{task.id}}"><i class="fas fa-trash"></i></a></span>
                <a href="edit/{{task.id}}"><span><i class="fas fa-edit"></i></span></a>
            </li>
            {% endfor %}
        </ul>
        <div class="paginator">
            <span class="step-links">
                {% if tasks.has_previous %}
                    <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}

                <span class="current">
                    Página {{ tasks.number }} de {{ tasks.paginator.num_pages }}
                </span>

                {% if tasks.has_next %}
                    <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}